# =========================
# Environment
# =========================
.env
.env.*

# =========================
# Python cache
# =========================
__pycache__/
*.pyc

# =========================
# IDE
# =========================
.idea/
.vscode/

# =========================
# Django
# =========================
db.sqlite3
media/

# =========================
# Static images
# =========================
django/ui/static/ui/clothes/
django/ui/static/ui/perfume_images/
